#social{
	// Link to social network
	// ====================================================================================
	a{
		img{
			width: 38px;
		}

		font-size: 24px;
		padding-bottom: 5px;
		margin: 0;
		font-style: italic;
		font-weight: normal;
		color: @dark;
		padding-bottom: 5px;
		display: inline-block;

		&.selected{
			border-bottom: 4px solid @dark;
		}

		&#btn-facebook{
			width: 170px; // Fuck ie8
		}
		&#btn-twitter{
			width: 150px; // Fuck ie8
		}
	}
	// ====================================================================================
	// End Link to social network
}